<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855321369085-lmug4t32no4lg5imisfk3s09eqnaiece.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855321369085-lmug4t32no4lg5imisfk3s09eqnaiece</string>
	<key>API_KEY</key>
	<string>AIzaSyCKiHdxLKC0k3XQ7ACfCnlEgR7Ba1l2Fds</string>
	<key>GCM_SENDER_ID</key>
	<string>855321369085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denisMikheykin.Race2D</string>
	<key>PROJECT_ID</key>
	<string>race2d-61899</string>
	<key>STORAGE_BUCKET</key>
	<string>race2d-61899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855321369085:ios:e7936a09b04eab11ace194</string>
</dict>
</plist>